/* Reset  */
@font-face {
  font-family: OCR-B;
  src: url(https://cdn.jsdelivr.net/gh/raisty/OCR-B/dist/OCR-B.ttf)
      format("truetype"),
    url(https://cdn.jsdelivr.net/gh/raisty/OCR-B/dist/OCR-B.otf)
      format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garamond;
}

/* Stile card */
.card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f36812;
  border-radius: 10px;
  height: auto;
}

/* Valcambi suisse */
.valcambisuisse {
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  text-align: right;
}

.valcambisuisse-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Main content */
.content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

/* L with Logotipo */
.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-left: 14px;
}

.valcambi-logotipo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

/* R */
.right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-section h2,
.right-section p,
.right-section img {
  text-align: right;
}

.text-line {
  margin-bottom: 5px;
}

.spaced-text {
  margin-top: 15px;
  margin-bottom: 10px;
}

.assayeurfondeur-image {
  display: block;
  width: 80px;
  height: auto;
}

/* Code */
.code-section {
  margin-top: 20px;
  align-self: flex-end;
}

.code {
  font-family: OCR-B;
  font-size: 0.8em;
  color: #333;
  text-align: right;
}

html {
  transform: scale(1);
  transform-origin: top left;
}

@media (max-width: 768px) {
  .content {
    flex-direction: row;
  }
}

/*Button*/
.minimal-button {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #f36812;
  background-color: transparent;
  border: 2px solid #f36812;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.minimal-button:hover {
  background-color: #f36812;
  color: #fff;
}
